
body


{
  background-image: url(20240211_115444.jpg);  
  background-size: cover;
}
h1{
    color: rgb(243, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    color: rgb(179, 139, 170);
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill{
    color: red;
    font-weight: bold;
}
